@use 'mixins_variables' as mv;

/******proyectos******/
.section_proyectos {
    @include mv.flex_box(flex, space-between, null, wrap);
    font-family: sans-serif;
    margin-bottom: mv.$botton2;
    padding:.5em;
  }
  .title_proyectos {
    @include mv.titles();
  }
  .proyectos {
    @include mv.tama単os(null, 550px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2em;
    color: mv.$color2;
  }
  .img_proyectos {
    @include mv.tama単os(200px, 350px);
  }
  .img_temperatura2 {
    @include mv.tama単os(220px, 250px);
  }
  .size_xl{
    @include mv.tama単os(300px,100%);
    object-fit: cover;
    border-radius: 3px;
  }
  .img_task{
    width: 250px;
    height: 200px;
    background-size: cover;
  }
  .description_proyectos{
    font-size: 1.3em;
  }
  .links_proyectos {
    width: 100%;
    margin-bottom: 1em;
  }
  .btn_demo {
    @include mv.buttons();
    background-color: mv.$btn_yellow;
  }
  .btn_github {
    @include mv.buttons();
    background-color: mv.$btn_blue;
  }
  .fab{
    margin-right: 7px;
  }
  .d-block {
    display: block;
  }